*
{
    margin: 0px;
    padding: 0px;
}

body
{
    color: #A86330;
    background-color: #E4E28A;
    font-size: 30px;
    text-align: center;
    font-family:'Courier New' sans-serif, Courier, monospace;
}

ul
{    
    text-align: left;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 30px;
}
a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    color: rgba(140, 0, 255, 0.9);
}

h1
{
    margin: 70px 50px;
}

img 
{
    border-radius: 50%;
    margin: 50px;
    height: auto;
    width: 300px;
    animation: animate 100s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }

}

.salad_description
{
    color:#7EA524;
    font-size: 25px;
    text-align: left;
    letter-spacing: 1.5px;
    font-family: Georgia;
    padding: 10px;
    margin: 15px;

}

p
{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: justify;
    margin: 40px 30px;
}

h3{
    font-size: 35px;
    text-align: left;
    margin: 10px 30px;
}

.ingredients
{
    display: block;
    list-style: inside;
    font-size: 30px;
    line-height: 1.5;
    margin: 0px;
}

ol
{
    text-align: left;
    padding: 20px 30px;
    display: block;
    justify-content: space-around;
    font-size: 30px;
    margin: 0px 20px;
    line-height: 1.5;
    border: dotted rgba(68, 128, 0, 0.4) 5px;
    background: rgba(255, 145, 0, 0.308);
}



